* text=auto

# Serialisation
*.json               text diff=json
*.yaml               text eol=lf diff linguist-detectable=true
*.yml                text eol=lf diff linguist-detectable=true

# Git attributes
*.gitattributes      text export-ignore
.gitignore           text export-ignore
.gitkeep             text export-ignore

# Linguist detection
*.xml                text eol=lf diff linguist-detectable=true
*.md                 linguist-detectable=true

# Code files (JS, TS, JSX, TSX)
*.js                 text eol=lf diff=javascript
*.ts                 text eol=lf diff=typescript
*.jsx                text eol=lf diff=javascript
*.tsx                text eol=lf diff=typescript

# Markup files (HTML, XML)
*.html               text
*.xml                text eol=lf diff

# Image files (PNG, SVG, ICO, JPG)
*.png                binary
*.svg                binary
*.ico                binary
*.jpg                binary
*.jpeg               binary
*.webp               binary


# Text files
*.txt                text

# Stylesheets (CSS)
*.css                text diff=css

# Dockerfile
Dockerfile           text
